body{
    background-color: rgb(48, 63, 119);
    font-family: sans-serif;
}
img.profile-pic{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin-top: 50px;
    
}
a{
    display: block;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border-style: solid;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}
a:hover{
    background-color: red;
}
